html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: rgb(248,183,52);
    background: -moz-linear-gradient(135deg, rgba(248,183,52,1) 0%, rgba(246,161,34,1) 57%, rgba(230,0,126,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(248,183,52,1) 0%, rgba(246,161,34,1) 57%, rgba(230,0,126,1) 100%);
    background: linear-gradient(135deg, rgba(248,183,52,1) 0%, rgba(246,161,34,1) 57%, rgba(230,0,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8b734",endColorstr="#e6007e",GradientType=1);
}

*{
    box-sizing: border-box;
}

#cuore{
    height: 100%;
    display: block;
    position: relative;
    object-fit: cover;
}

#cuore img{
    display: inline-block;
    width: 105px;
    height: 105px;
    background: cornflowerblue;
	position: absolute;
	top:0;
	left:0;
}

#cuore img:nth-child(1) {
    position: absolute;
    top: 90px;
    left: 218px;
}

#cuore img:nth-child(2) {
    position: absolute;
    top: 90px;
    left: 331px;
}
#cuore img:nth-child(3) {
    position: absolute;
    top: 90px;
    left: 557px;
}
#cuore img:nth-child(4) {
    position: absolute;
    top: 90px;
    left: 670px;
}
#cuore img:nth-child(5) {
    position: absolute;
    top: 203px;
    left: 105px;
}
#cuore img:nth-child(6) {
    position: absolute;
    top: 203px;
    left: 218px;
}
#cuore img:nth-child(7) {
    position: absolute;
    top: 203px;
    left: 331px;
}
#cuore img:nth-child(8) {
    position: absolute;
    top: 203px;
    left: 444px;
}

#cuore img:nth-child(9) {
    position: absolute;
    top: 203px;
    left: 557px;
}
#cuore img:nth-child(10) {
    position: absolute;
    top: 203px;
    left: 670px;
}
#cuore img:nth-child(11) {
    position: absolute;
    top: 203px;
    left: 783px;
}
#cuore img:nth-child(12) {
    position: absolute;
    top: 316px;
    left: 105px;
}
#cuore img:nth-child(13) {
    position: absolute;
    top: 316px;
    left: 218px;
}
#cuore img:nth-child(14) {
    position: absolute;
    top: 316px;
    left: 331px;
}
#cuore img:nth-child(15) {
    position: absolute;
    top: 316px;
    left: 444px;
}

#cuore img:nth-child(16) {
    position: absolute;
    top: 316px;
    left: 557px;
}
#cuore img:nth-child(17) {
    position: absolute;
    top: 316px;
    left: 670px;
}
#cuore img:nth-child(18) {
    position: absolute;
    top: 316px;
    left: 783px;
}
#cuore img:nth-child(19) {
    position: absolute;
    top: 429px;
    left: 218px;
}
#cuore img:nth-child(20) {
    position: absolute;
    top: 429px;
    left: 331px;
}
#cuore img:nth-child(21) {
    position: absolute;
    top: 429px;
    left: 444px;
}

#cuore img:nth-child(22) {
    position: absolute;
    top: 429px;
    left: 557px;
}
#cuore img:nth-child(23) {
    position: absolute;
    top: 429px;
    left: 670px;
}
#cuore img:nth-child(24) {
    position: absolute;
    top: 542px;
    left: 331px;
}
#cuore img:nth-child(25) {
    position: absolute;
    top: 542px;
    left: 444px;
}

#cuore img:nth-child(26) {
    position: absolute;
    top: 542px;
    left: 557px;
}
#cuore img:nth-child(27) {
    position: absolute;
    top: 655px;
    left: 444px;
}

.logo{
    display: block;
    position: absolute;
    top: 815px;
    left: 105px;
}

.scritte{
    display: block;
    position: absolute;
    width: 560px;
    top: 170px;
    left: 1196px;
}